<div class='col-xs-9'>
	<h1>投稿</h1>

	<table class='table table-hover table-inverse'>
		<thead>
			<tr>
				<th>Title</th>
				<th>Opinion</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @posts.each do |post| %>
			<% if @user.profile_image_id? %>
			<%= image_tag @user.profile_image_id.to_s %>
			<% else %>
			<%= image_tag 'no_image.jpg' %>
			<% end %>
			<tr>
				<td><%= link_to post.title, admins_post_path(post.id) %></td>
				<td><% strip_tags(post.body).truncate(20) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>